<%= render partial: "shared/nav" %>

<div class="two-column">
  <div class="column-header">
    Coupons for <%= @merchant.name %>
  </div>
  <div class="column-button">
    <%= link_to "New Coupon", new_merchant_coupon_path(merchant_id: @merchant.id) %>
  </div>
</div>

<div class="two-column">
  <div id="activated-coupon-list">
    <% @merchant.coupons.each do |coupon| %>
      <% if coupon.status == "activated" %>
        <%= render partial: "coupons/coupons_by_activation", locals: { coupon: coupon } %>
      <% end %>
    <% end %>
  </div>

  <div id="deactivated-coupon-list">
    <% @merchant.coupons.each do |coupon| %>
      <% if coupon.status == "deactivated" %>
        <%= render partial: "coupons/coupons_by_activation", locals: { coupon: coupon } %>
      <% end %>
    <% end %>
  </div>
</div>